---
layout: 'base.njk'
---
  <button onclick="topFunction()" id="top-btn" title="Go to top">&uarr;</button>
  <div class="article-wrapper">
  <article>
    <div class="container">
     <h1> {{title }}</h1>
      {{ content | safe }}
    </div>
   </article>
   </div>
   