<li class="post-list__item">
        <div>
          <div class="post-list__meta">
            <span>
              {{ post.date | postDate }}
            </span>
            <span> | </span>
            <span>{{post.data.reading}}</span>
          </div>
        </div>
        <h3 class="post-list__title">
          {{post.data.title}}
        </h3>
        <h4 class="">
          {{post.data.meta}}
        </h4>
        <a class="post-list__read-more" href="{{ post.url }}">leggi <span style='font-size:18px;'>&#8599;</span>  </a>
    </li>