<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/main.css">
	
</head>

<body >
  {% include 'header.njk' %}
	{{ content | safe }}
  {% include 'footer.njk' %}

<script src="/scripts/main.js"></script>
</body>