---
title : about
layout: 'base.njk'
---

<div class="main-wrapper">
      <main>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Placeat recusandae vel optio dolorum, nesciunt deleniti temporibus,
            minima quod similique aliquam odit sequi doloribus alias adipisci 
            repudiandae tempore aut, inventore culpa.
         
        </p>
      </main>
    </div>
    <img src="/assets/images/man.jpg" alt="about-image" class="about-img" />