---
title: Blog
layout: 'base.njk'
---

<div class="blog-main">
    <ul class="post-list">
      {%- for post in collections.post | reverse -%}
        <li class="post-list__item">
        <div>
          <div class="post-list__meta">
            <span>
              {{ post.date | postDate }}
            </span>
            <span> | </span>
            <span>{{post.data.reading}}</span>
          </div>
        </div>
        <h3 class="post-list__title">
          {{post.data.title}}
        </h3>
        <h4 class="">
          {{post.data.meta}}
        </h4>
        <a class="post-list__more" href="{{ post.url }}">leggi <i  style='font-size:15px;'class="fas fa-external-link-alt"></i> </a>
    </li>
      {%- endfor -%}
      
    </ul>
  </div>