---
title: Blog
layout: 'base.njk'

---

<div class="blog-main">
    <ul class="post-list">
      {%- for post in collections.post | reverse -%}
        <li class="post-list__item">
        <h3 class="post-list__title">
          {{post.data.title}}
        </h3>
        <h4 class="">
          {{post.data.meta}}
        </h4>
        <a class="post-list__more" href="{{ post.url }}">Leggi &#8599;</a>
    </li>
      {%- endfor -%}
      
    </ul>
  </div>