---
title : Riccardo--Contattami
layout: 'base.njk'
---

<div class="main-wrapper">
<p> Se vuoi scrivermi puoi inviare una mail a <a href"mailto:riccardo.gualtieri@icloud.com" class="contact-link">questa mail</a> oppure utilizzare il form qui sotto</p>

<form name="contact" method="POST" data-netlify="true">

  <p>
    <label>La tua e-mail <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Messaggio :<textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Invia</button>
  </p>
</form>
