---
title: Home
layout : 'base.njk'
---

<div class="main-wrapper">
      <main>
        <h3>Ciao, sono Riccardo.</h3>
        <h3>Sono alla continua ricerca del mio spazio nel mondo.</h3>
        <h3></h3>
        <h3>Questo è l'archivio dei miei  <a href="/blog">pensieri</a>

</a></h3>

        
      </main>
</div>


