---
title: Home
layout : 'base.njk'
---

<div class="main-wrapper">
      <main>
        <p>Sono appassionato di quiz e alla continua ricerca del mio posto nel mondo. Dopo la laurea in design , ho scoperto una passione per il mondo della finanza. Ho creato questo <a href="/blog">"taccuino digitale"</a>per dar spazio ai miei pensieri e dar vita ad un archivio personale. </p>
      </main>
      <div id="txt" class="clock"></div>
</div>


